%h1= @user.name
%span= @user.email
%br
- date = Date.today

%table
  %tr
    %th
    %th this week
    %th last week
    %th this month
    %th last month
    %th this year
    %th last year
    %th total
  %tr
    %td total distance
    %td
    %td
    %td= @user.distance_total_km date.year, date.month
    %td= @user.distance_total_km date.year, (date.month - 1)
    %td= @user.distance_total_km date.year
    %td= @user.distance_total_km (date.year - 1)
    %td= @user.distance_total_km
  %tr
    %td total excercises
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td

%table
  %tr
    %th month
    %th km
  - (1..12).each do |month|
    %tr
      %td= month
      %td= @user.distance_total_km date.year, month

%b Total Distance:
%span= @user.distance_total_km
%b= date.year
%span= @user.distance_total_km date.year
%b This month
%span= @user.distance_total_km date.year, date.month
%b April
%span= @user.distance_total_km date.year, 4


%table
  %thead
    %tr
      %th Sport
      %th Date
      %th Time
      %th
      %th
      %th

  %tbody
    - @user.activities.each do |activity|
      %tr
        %td= activity.sport
        %td= activity.start_time.to_date
        %td= activity.start_time
        %td= link_to 'Show', activity
        %td= link_to 'Edit', edit_activity_path(activity)
        %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
