- this_month = Date.today.month
- this_year = Date.today.year

.row
  .col-sm-1
    .btn-group-vertical
      .btn.btn-default#tlf TLF
      .btn.btn-default#add ADD
      .btn.btn-default WTF
  .col-sm-10.chart-container
    #dashboard-chart
  .col-sm-1
    .btn-group-vertical
      .btn.btn-default week
      .btn.btn-default#month month
      .btn.btn-default#year year
#activities
  %h2
    = link_to "<", user_path(date: @date.prev_month)
    = @date.strftime("%B %Y")
    = link_to ">", user_path(date: @date.next_month)
  = calendar @date do |date|
    = date.day
    - if @activities_by_date[date]
      %ul
        - @activities_by_date[date].each do |activity|
          %li
            = link_to activity do
              = "#{activity.sport} #{number_with_precision activity.distance_km, precision: 1} km"
              = number_with_precision activity.trimp, precision: 1
            -#= link_to edit_activity_path(activity), class: 'btn' do
            -#  %span.glyphicon.glyphicon-edit
            -#= link_to activity, class: 'btn', :method => :delete, :data => { :confirm => 'Are you sure?' } do
            -#  %span.glyphicon.glyphicon-trash
