%p#notice= notice

%p
  %b User:
  = @activity.user.name
%p
  %b Sport:
  = @activity.sport
%p
  %b Activity Id:
  = @activity.activity_id

%p
  %b Laps:
  = @activity.laps.count
  - @activity.laps.each do |lap|
    %i Trackpoint
    =lap.tracks.first.track_points.count

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
