%p#notice= notice

%h1= @activity.user.name
%p
  %b Sport:
  = @activity.sport
%p
  %b Average Heart Rate:
  = @activity.avg_heart_rate
%p
  %b Start Time:
  = @activity.start_time

%p
  %b Total Distance(km):
  = @activity.distance_km

%p
  %b Duration (minutes):
  = @activity.duration_min

%p
  %b Intensity
  = @activity.intensity

%table
  %tr
    %th Start Time
    %th Avg Heart Rate
    %th Distance (m)
  - @activity.laps.each do |lap|
    %tr
      %td= lap.start_time
      %td= lap.average_heart_rate_bpm
      %td= lap.distance_m
= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
